{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "space": 2,
  "semicolon": false,
  "esnext": true,
  "ecmaFeatures": {
    "jsx": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "ignores": ["*.js", "build/**"],
  "rules": {
    "valid-jsdoc": [2, {
      "prefer": {
        "return": "returns"
      }
    }],
    "no-var": 2,
    "eqeqeq": [2, "smart"],
    "arrow-parens": [2, "always"],
    "consistent-this": 2,
    "func-names": [2],
    "generator-star-spacing": [2, "after"],
    "indent": [2, 2],
    "jsx-quotes": [1, "prefer-double"],
    "quotes": [2, "backtick"],
    "max-len": [1, 100, 2],
    "new-cap": [2, {"capIsNew": false}],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-unused-vars": [2, {
      "vars": "all",
      "varsIgnorePattern": "^__"
    }],
    "object-curly-spacing": 0,
    "one-var": 0,
    "operator-linebreak": [2, "after"],
    "prefer-reflect": 0,
    "prefer-destructuring": 2,
    "space-before-function-paren": [2, "never"],
    "strict": 0,
    "no-shadow": [2, { "builtinGlobals": false, "hoist": "all" }],
    "fp/no-class": 2,
    "fp/no-delete": 2,
    "fp/no-events": 2,
    "fp/no-get-set": 2,
    "fp/no-let": 2,
    "fp/no-loops": 2,
    "fp/no-mutating-assign": 2,
    "fp/no-mutating-methods": [2, {
      "allowedObjects": ['R', 'ƒ']
    }],
    "fp/no-mutation": [2, {
      "commonjs": true
    }],
    "fp/no-proxy": 2,
    "fp/no-rest-parameters": 2,
    "fp/no-this": 2,
    "fp/no-throw": 2,
    "fp/no-unused-expression": 2,
    "fp/no-valueof-field": 2,
    "import/named": 2,
    "import/no-mutable-exports": 2,
    "import/order": 2,
    "import/extensions": [2, {
      "js": "never",
      "validation": "always",
      "task": "always"
    }],
    "better/no-fors": 2,
    "better/no-new": 2,
    "better/no-reassigns": 2,
    "better/no-switches": 2,
    "better/no-variable-declaration": 2,
    "better/no-instanceofs": 2,
    "better/no-undefined": 2,
    "better/no-whiles": 2,
    "better/explicit-return": 2,
    "better/no-function-expressions": 2,
    "ava/assertion-arguments": 2,
    "ava/no-async-fn-without-await": 2,
    "ava/no-duplicate-modifiers": 2,
    "ava/no-identical-title": 2,
    "ava/no-ignored-test-files": 2,
    "ava/no-invalid-end": 2,
    "ava/no-nested-tests": 2,
    "ava/no-only-test": 2,
    "ava/no-skip-assert": 2,
    "ava/no-skip-test": 2,
    "ava/no-statement-after-end": 2,
    "ava/no-todo-implementation": 2,
    "ava/no-todo-test": 1,
    "ava/no-unknown-modifiers": 2,
    "ava/prefer-async-await": 0,
    "ava/prefer-power-assert": 0,
    "ava/test-ended": 2,
    "ava/test-title": [2, "if-multiple"],
    "ava/use-t-well": 2,
    "ava/use-t": 2,
    "ava/use-test": 2,
    "ava/use-true-false": 2
  },
  "extends": ["standard"],
  "plugins": ["babel", "better", "fp", "import", "ava"]
}
